.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.robo{
    border: solid 1px;
    margin: 10px;
}

.Victor{
    order: 3;
}

.Omar{
    order: 2;
}

.Eduardo{
    order: 1;
}