
body{
    background-color: red;
}

 /*condição no CSS*/
@media screen and (min-width: 1024){
    body {
        background-color: crimson;
    }
}  

@media screen and (min-width: 768px) and (max-width: 1023px){
    body {
        background-color: aquamarine;
    }
}

@media screen and (max-width: 767px){
    body {
        background-color: darkolivegreen;

    }
    
}