#bandeiras{
    border: solid 1px #555555;
    height: 200px;
    width: 900px;
    overflow: none;
    margin: 0 auto;
}

.bandeira{
    border: solid 1px #555555;
    width: 250px;
    height: 150px;
    float: left;
    margin: 20px;
    box-sizing: border-box;
}

#holanda{

    .linha1{
        background-color:  rgb(174,28,40);
        height: 50px

    }

    .linha2{
        background-color: rgb(244, 249, 255);
        height: 50px;
    }

    .linha3{
        background-color: rgb(33,70,139);
        height: 50px;

    }
}

#alemanha{

    .linha1{
        background-color: black;
        height: 50px

    }

    .linha2{
        background-color: rgb(221, 0, 0);
        height: 50px;
    }

    .linha3{
        background-color: rgb(255, 204, 0);
        height: 50px;

    }

}

#italia{

    .coluna1{
        height: 100%;
        width: 33.333%;
        background-color: rgb(0, 140, 69);


    }

    .coluna2{
        background-color: rgb(244, 249, 255) ;
        
    }

    .coluna3{
       
        background-color: rgb(205, 33, 42) ;

}

.coluna{
    height: 100%;
    width: 33.333%;
    float: left;
}

}