.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.robo{
    border: solid 1px;
    margin: 10px;
}

.reverse{
    flex-direction: row-reverse;
}

.column{
    flex-direction: column;
    align-items: center;
    
}

.reverse-column {
    flex-direction: column-reverse;
    align-items: center;
}